@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('./fonts/en/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Estedad';
  src: url('./fonts/fa/Estedad.ttf') format('truetype');
}

@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }

  .font-estedad {
    font-family: 'Estedad', sans-serif;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

[dir="rtl"] body {
  font-family: 'Estedad', sans-serif;
}
